.toggle__button {
    width: 35px;
    height: 23px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    font-family: "Space Mono", serif;
    color: var(--font-color);
    font-weight: 600;
}

/*@media (min-width: 768px) {*/
/*    .toggle__button {*/
/*        width: 40px*/
/*    }*/
/*}*/

.toggle__button.on {
    background-color: var(--marquee-text);
}

.toggle__button.off {
    background-color: #f85548;
}

.stop {
    animation: none;
}
