.theme__button {
    display: flex;
    padding: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Space Mono", serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.theme__button:hover {
    background: radial-gradient(circle, rgba(128, 0, 128, 0.5) 10%, rgba(128, 0, 128, 0) 80%);
    transition: background 0.3s ease;
}
