.theme__button {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 35px;
    height: 23px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Space Mono", serif;
    color: var(--font-color);
    background-color: var(--accent-color-3);
    font-weight: 600;
    font-size: 17px;
    overflow: hidden;
}

.theme__button:hover {
    transition: background 0.3s ease;
}
