.nav {
    height: 100%;
    padding: 80px 30px 40px 30px;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link__container {
    perspective: 120px;
    perspective-origin: bottom;
}

.link {
    font-size: 20px;
    font-weight: 600;
}

