.generator {
    height: auto;
    width: 90%;
    border: 2px solid var(--font-color);
    color: var(--font-color);
}

@media (min-width: 1024px) {
    .generator {
        max-width: 65%;
    }
}

.menu__wrapper {
    display: block;
}

.generator__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 10px;

}

@media (min-width: 768px) {
    .generator__wrapper {
       flex-direction: row;
    }
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 10px;
    z-index: 0;
    text-align: start;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 768px) {
    .input__wrapper {

    }
}


.generator__input {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 10px 0 20px 0;
    border: 2px solid var(--font-color);
    box-shadow: 5px 5px;
    outline: none;
}

.generator__error {
    position: absolute;
    font-size: 12px;
    line-height: 1.2;
    top: 90px;
    left: 10px;
    color: var(--error-color);

}

.qrcode__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid var(--font-color);
    padding: 0 10px 15px;

}

@media (min-width: 768px) {
    .qrcode__wrapper {

    }
}

.qrcode__inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.svg {
    width: 180px;
    margin: 15px;
}
