.button {
    width: 100%;
    /*width: 90%;*/
    /*margin: 10px;*/
    padding: 10px 16px;
    background-color: var(--accent-color-2);
    box-shadow: 5px 5px;
    cursor: pointer;
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}
