.header {
    position: sticky;
    left: 0;
    height: 15vh;
    width: 100%;
    background-color: var(--accent-color-2);
    border: 2px solid var(--font-color);
    font-size: 28px;
    color: var(--font-color);
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .header__wrapper {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .header__wrapper {
        padding: 0 50px;
    }
}

.header__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu__flex {
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: var(--accent-color-3);
    border: 2px solid var(--font-color);
    z-index: 10;
}




