.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--font-color);
}

.menu:hover {
    background-color: var(--accent-color-3);
}

@media (min-width: 768px) {
    .menu {
    }
}


