:root {
    --font-color: #231b1b;
    --accent-color-1: #e210f1;
    --accent-color-2: #57C4EC;
    --accent-color-3: #88f588;
    --marquee-text: #f5bc03;
    --error-color: #f17575;
    --bg-color: #fdfcfb;;
    --breakpoint-x-small: 375px;
    --breakpoint-small: 768px;
    --breakpoint-medium: 1024px;
    --breakpoint-large: 1440px;
}

[data-theme="dark"] {
    --font-color: #d3d3d3;
    --accent-color-1: #e210f1;
    --accent-color-2: #555555;
    --accent-color-3: #333333;
    --marquee-text: #a6a6a6;
    --error-color: #f28c8c;
    --bg-color: #121212;
}




