:root {
    --font-color: #231b1b;
    --accent-color-1: #e210f1;
    --accent-color-2: #57C4EC;
    --marquee-text: #f5bc03;
    --bg-color: #fdfcfb;;
    --breakpoint-x-small: 375px;
    --breakpoint-small: 768px;
    --breakpoint-medium: 1024px;
    --breakpoint-large: 1440px;
}
